[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "extern/libdrawable"]
	path = extern/libdrawable
	url = git@github.com:Sage-of-Mirrors/libdrawable.git
